pip install g2pM
pip install dragonmapper
pip install chinese_converter
pip install g2pk
pip install jamo
pip install espeak_phonemizer
pip install pyopenjtalk==0.2.0

pip install Cython
pip install pyworld
pip install librosa
pip install matplotlib
pip install numpy
pip install phonemizer
pip install scipy==1.10.0
pip install tensorboard
pip install Unidecode
pip install soundcard